@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root{
    --color-primary: #0E7678;
    --color-secondary: #0C8C6E;
    --color-bg-dark: #1E1E1E;
    --color-white: #fff;
    --color-gray: #707070;
  } 
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--color-bg-dark);
  color: var(--color-white);
}

a {
  color: inherit;
  text-decoration: none;
  
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
